<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.version.first.mapper.MenuMapper">
    <resultMap id="menuResult" type="com.version.first.bean.Menu">
        <id property="menuId" column="menu_id"/>
        <result property="typeId" column="type_id"/>
        <result property="menuName" column="menu_name"/>
        <result property="menuPrice" column="menu_price"/>
        <result property="menuPicture" column="menu_picture"/>
        <result property="menuRemark" column="menu_remark"/>
    </resultMap>
    <insert id="insertMenu" parameterType="com.version.first.bean.Menu">
        insert menu (type_id, menu_name, menu_price, menu_picture, menu_remark)
        VALUE(#{menu.typeId},#{menu.menuName},#{menu.menuPrice},#{menu.menuPicture},#{menu.menuRemark})
    </insert>
    <select id="selectMenuByTypeId" resultMap="menuResult">
        select * from menu where type_id= #{menu.typeId} limit #{menu.page},10
    </select>
    <select id="selectMenuByFuzzyQueryMenuName" resultMap="menuResult">
        select * from menu where menu_name like concat('%',#{menu.menuName},'%')
    </select>
</mapper>
