<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.version.first.mapper.MenuTypeMapper">
    <resultMap id="menuTypeResult" type="com.version.first.bean.MenuType">
        <id property="typeId" column="type_id"/>
        <result property="typeName" column="type_name"/>
    </resultMap>
</mapper>
