<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.version.first.mapper.OrderMapper">
    <resultMap id="orderResult" type="com.version.first.bean.Order">
        <id property="orderId" column="order_id"/>
        <result property="userId" column="user_id"/>
        <result property="payId" column="pay_id"/>
        <result property="orderRemark" column="order_remark"/>
        <result property="orderTime" column="order_time"/>
        <result property="orderTotalPrice" column="order_total_price"/>
        <result property="deliverId" column="deliver_id"/>
    </resultMap>
</mapper>
