<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.version.first.mapper.OrderMapper">
    <resultMap id="orderResult" type="com.version.first.bean.Order">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="userId" column="user_id"/>
        <result property="payId" column="pay_id"/>
        <result property="orderTime" column="order_time"/>
        <result property="sumPrice" column="sum_price"/>
        <result property="userAddressPhoneId" column="user_address_phone_id"/>
        <result property="deliverId" column="deliver_id"/>
        <result property="orderState" column="order_state"/>
        <association property="orderDetails"
                     select="com.version.first.mapper.OrderDetailsMapper.selectOrderDetailsByOrderId"
                     column="order_id">
        </association>
    </resultMap>
    <insert id="insertOrder" parameterType="com.version.first.bean.Order">
        insert `order` (order_id, user_id, pay_id,
                        order_time, deliver_id,user_address_phone_id,
                        sum_price)
        VALUE (#{order.orderId},#{order.userId},#{order.payId},
               #{order.orderTime},#{order.deliverId},#{order.userAddressPhoneId},#{order.sumPrice})
    </insert>
    <select id="selectOrderByUserId" resultMap="orderResult">
        select * from `order` where user_id=#{order.userId}
    </select>
    <select id="selectOrderByUserIdAndOrderId" resultMap="orderResult">
        select * from `order` where user_id=#{order.userId} And order_id=#{order.orderId}
    </select>
    <update id="updateOrderStateToDelivering" parameterType="com.version.first.bean.Order">
        update `order` set order_state = 1 where order_id = #{order.orderId}
    </update>
    <update id="updateOrderStateToDelivered" parameterType="com.version.first.bean.Order">
        update `order` set order_state = 2 where order_id = #{order.orderId}
    </update>
</mapper>
