<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.version.first.mapper.OrderDetailsMapper">
    <resultMap id="orderDetailsResult" type="com.version.first.bean.OrderDetails">
        <id property="orderDetailsId" column="order_details_id"/>
        <result property="orderId" column="order_id"/>
        <result property="menuAmount" column="menu_amount"/>
        <result property="menuId" column="menu_id"/>
        <result property="menuRemark" column="menu_remark"/>
    </resultMap>
    <insert id="insertOrderDetailsList" parameterType="list">
        insert order_details (order_id, menu_id, menu_amount,menu_remark) VALUES
        <foreach collection="orderDetailsList" item="item" index="index" separator=",">
            (#{item.orderId},#{item.menuId},#{item.menuAmount},#{item.menuRemark})
        </foreach>
    </insert>
    <select id="selectOrderDetailsByOrderId" resultMap="orderDetailsResult">
        select * from order_details where order_id=#{orderId}
    </select>
    <select id="selectOrderIdByMenuId" resultType="map">
        select menu_remark, user_name from order_details
        left join `order` o on order_details.order_id = o.order_id
        left join `user` u on o.user_id = u.user_id
        where menu_id = #{orderDetailsList.menuId}
    </select>
    <update id="insertOrderRemark" parameterType="com.version.first.bean.OrderDetails">
        update order_details set menu_remark=#{orderDetails.menuRemark}
        where order_id=#{orderDetails.orderId} and menu_id=#{orderDetails.menuId}
    </update>
</mapper>
