<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.version.first.mapper.UserMapper">
    <resultMap id="userResult" type="com.version.first.bean.User">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userPassword" column="user_password"/>
    </resultMap>
    <insert id="insertUser" parameterType="com.version.first.bean.User">
        insert user (user_name,user_password,user_phone,user_identity)
        value (#{user.userName},#{user.userPassword},#{user.userPhone},#{user.userIdentity})
    </insert>
    <select id="selectUserOrAdministratorByUserPhone" resultMap="userResult">
        select * from user where user_phone=#{user.userPhone}
    </select>
    <select id="selectAllUser" resultMap="userResult">
        select * from user where user_identity=0;
    </select>
    <select id="selectAllAdministrator" resultMap="userResult">
        select * from user where user_identity=1;
    </select>
</mapper>
